a {
    text-decoration: none !important;
}
.mainTextArea {
    width: 635px;
    background-color: #2f2f2f;
    color:#bababa;
    resize: none;
}

body {
    background: url('/images/bg.jpg');
}

.wrapper {
    margin-left: 136px;
}


.projectTitle {
    color: #bababa;
    margin-left: 212px;
    text-decoration: none;
}

.pastangaForm {
    display: inline-block;
}

#pasteForm button{
    float:left;
}

#pasteForm label {
    float:right;
    color:#bababa;
}
ul li {
    color: #bababa;
}

#notification {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100%;
    background: #EFEFEF;
    text-align: center;
    border-top: 2px solid #FFF;
    z-index:9999;
}

.textView {
    padding-top:30px;
    min-height: 200px;
    padding-left:25px;
}

.showContainer {
    margin-left:-147px;
}

.qrCode {
    margin-left:264px;
}

.prettyprint {
    padding: 10px !important;
}
